@using ClanWeb.Web.Models
@model EditGroupViewModel


@{
    ViewBag.Title = "EditGroup";
}

@using (Html.BeginForm("EditGroup", "Forum", new { groupId = ViewBag.GroupId }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <h2>Add a new group for the forums</h2>

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>


    <label class="col-md-2 control-label">Orginal Image</label>
        <div class="col-md-10">
            <img src="@Url.Content(Model.ImageUrl)" height="80px" width="100px" />
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Image">Image</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Image, new { @type = "file" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.GroupSet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.GroupSet, (List<SelectListItem>)ViewBag.GroupSetList, "Select a Set", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GroupSet, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewGroupSet, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NewGroupSet, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
}

