
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ClanWeb.Web.Models.ThreadsViewModel>

@{
    Layout = "~/Views/Forum/_layout.cshtml";
    ViewBag.Title = ViewBag.GroupName;
}
<br />
<h2>@ViewBag.Groupname</h2>
<br />


<div class="row">
    <div class="col-md-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb forum-breadcrumb">
                <li class="breadcrumb-item">@Html.ActionLink("Forums", "Groups")</li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.GroupName</li>
            </ol>
        </nav>
    </div>


    <div class="col-md-6">
        <div class="float-right">
            <div class="btn-group">
                @Html.ActionLink("Create a new Thread", "AddThread", "Forum", new { groupId = ViewBag.GroupId }, new { @class = "btn btn-secondary forum-create" })
                <div class="dropdown forum-dropdown-config">
                    <button class="btn btn-toolbar  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Edit Group", "EditGroup", "Forum", new { groupId = ViewBag.GroupId }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Delete Group", "RemoveGroup", "Forum", new { groupId = ViewBag.GroupId }, new { @class = "dropdown-item", @onclick = "return confirm('Are  you really sure you want to delete this group and all its messages');" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br />



<ul class="forum">
    @foreach (ClanWeb.Web.Models.ThreadsViewModel item in Model)
    {
        <li>
            <div class="row forumgrouprow">
                <div class="col-md-1">
                    <p>
                        <br />
                        @item.Vote.ToString()
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="normal forumthreadgrouprow">@Html.ActionLink(item.Name, "Thread", "Forum", new { threadId = item.Id, groupId = ViewBag.GroupId }, null)</p>
                    <p class="small">@item.StartedByUserName, @item.StartedTimeStamp</p>
                </div>
                <div class="col-md-2">
                    @{
                        int NumberOfMessages = item.NumberOfMessages - 1;
                    }
                    <p class="medium forumthreadgrouprow">Replys: @NumberOfMessages.ToString()</p>
                    <p class="medium">Views: @item.ViewCount</p>
                </div>
                <div class="col-md-3">
                    <p class="normal" style="margin-bottom:-4px">@item.LastMessageUserName</p>
                    <p class="small">@item.LastMessageTimeStamp</p>
                </div>
            </div>
        </li>
    }
</ul>

<div class="float-right">
    @Html.PagedListPager(Model, page => Url.Action("Threads", new { groupId = ViewBag.GroupId, page }))
</div>

